
body {
	background-image: url('../static/picture_shop.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 150%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: -1;
}

.main {
  color: #bd8c8c; 
  font-weight: 900;
}

.main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8vh;
}

.normal-text {
    color: white;
    font-size: large;
    padding-left: 60px;
    padding-right: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.main-headers {
  color: white;
  font-size: 3em;
  text-align: center;
}

.headers {
    color: white;
    font-size: 2em;
    text-align: center;
  }

.panel {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 0;
  background-color: white;
  z-index: 99;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
}

.panel.show {
  height: 200px;
}

.panel-content {
  padding: 20px;
}





  


