<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title >Kokosz Cloth Shop Cloth</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cloth.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontello.css') }}"/>
       
    </head>
    <body>
        <div class="main-box"></div>
          
        </div>
        <div class="name">
            {% include 'menu.html' %}
        </div>
        <div class="name"></div>

        <div class = "content">
            
            <div class="filter">
                <form action="#" method="post">

                    <h3>Filter by:</h3>
                    <div class="checkboxes">
                        <label><input type="checkbox" name="male" value="male"> Man</label><br>
                        <label><input type="checkbox" name="female" value="female"> Woman</label><br>
                        <label><input type="checkbox" name="t_shirt" value="t_shirt"> T-shirt</label><br>
                        <label><input type="checkbox" name="jeans" value="jeans"> Jeans</label><br>
                        <label><input type="checkbox" name="shirt" value="shirt"> Shirt</label><br>
                    </div>
                    <div class="inputs">
                        <label>Min value:</label>
                        <input type="number" name="minvalue" value="0">
                        <label>Max value:</label>
                        <input type="number" name="maxvalue" value="0">
                    </div>
                    <input type="submit" name = "filter_button" value = "Filter"class="filter-button"></input>
                    
                </form>

            </div>
              

            <div class="product-grid" id="product-grid">
                {% for product in products %}
                    {% include 'product_template.html' %}
                {% endfor %}
            </div>
              



        </div>



 
    
    </body>

    <script type="text/javascript" src="{{ url_for('static', filename='refresh_product.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='only_numbers.js') }}"></script>
      


</html>