<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title >Kokosz Cloth Shop Cloth</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='menu.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='cloth.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fontello.css') }}"/>
       
    </head>
    <body>
        <div class="main-box"></div>
          
        </div>
        <div class="name">
            {% include 'menu.html' %}
        </div>
        <div class="name"></div>

        <div class = "content">
            
            <div class="filter">
                <form action="#" method="post">

                    <h3>Filter by:</h3>
                    <div class="checkboxes">
                        <label><input type="checkbox" name="checkbox1" value="1"> Checkbox 1</label><br>
                        <label><input type="checkbox" name="checkbox2" value="2"> Checkbox 2</label><br>
                    </div>
                    <div class="inputs">
                        <label>Min value:</label>
                        <input type="number" name="minvalue" value="0">
                        <label>Max value:</label>
                        <input type="number" name="maxvalue" value="0">
                    </div>
                    <input type="submit" name = "filter_button" value = "Filter"class="filter-button"></input>
                    
                </form>

            </div>
              

            <div class="product-grid">
                {% for product in products %}
                    {% if product.cost > min_value and product.cost < max_value %}
                        <div class="product-item">
                            <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="{{ product.name }}">
                            <h2>{{ product.name }}</h2>
                            <p class="price">${{ product.cost }}</p>
                        </div>
                    {% endif %} 
                {% endfor %}
            </div>
              



        </div>



 
    
    </body>


    <script type="text/javascript" src="{{ url_for('static', filename='only_numbers.js') }}"></script>
      


</html>