<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title >Kokosz Cloth Shop Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontello.css') }}"/>

</head>
<body>
  <div class="main-box">
        <h1 class="main">Welcome to Kokosz Cloth Shop</h1>
  </div>

    <div class="help">
    {% include 'menu.html' %}
    </div>

    <div>
        
        <h2 class="main-headers">About us</h2>
        <h3 class="headers">Our history</h3>
        <p class="normal-text">
            Kokosz Cloth Shop has been a leading purveyor of high-quality fabrics and garments for over a century. Founded in 2004 by the Kokosz family, the shop quickly gained a reputation for its exceptional craftsmanship, attention to detail, and commitment to using only the finest materials.
            Over the years, Kokosz Cloth Shop has remained dedicated to its core values of quality, style, and customer satisfaction. Our team of experienced designers and seamstresses is passionate about creating beautiful, timeless garments that our customers will treasure for years to come.
            From classic business wear to the latest fashion trends, we offer a wide range of clothing options for men and women. We are proud to use only the finest fabrics and materials in our garments, ensuring that they not only look great but also feel comfortable and durable.
            At Kokosz Cloth Shop, we believe that every customer deserves personalized attention and exceptional service. Our friendly and knowledgeable staff is always available to assist with any questions or concerns you may have, and we are dedicated to providing a shopping experience that is both enjoyable and stress-free.     
            Over the years, we have been honored to serve a diverse and loyal customer base, including business professionals, fashion enthusiasts, and families in need of quality clothing for all occasions. We are grateful for the trust and support of our customers, and we look forward to continuing to provide exceptional service and beautiful clothing for many years to come.
        </p>
        <h3 class="headers">Our mission</h3>
        <p class="normal-text">
           Our mission is to become the premier destination for fashion-conscious individuals who are looking for unique and high-quality clothing and accessories that are not only stylish, but also made with integrity and care for the environment. 
          We strive to create a positive shopping experience for our customers by offering a wide range of products, exceptional customer service, and a commitment to making a positive impact on the world through our ethical and sustainable practices.
        </p>

    </div>

    <div class="panel">
        <div class="panel-content">
            <p>See also</p>
            <p><i class="demo-icon icon-youtube-play"></i> <span class="i-name">icon-youtube-play</span><span class="i-code"></span></p>
            <p><i class="demo-icon icon-instagram"></i> <span class="i-name">icon-instagram</span><span class="i-code"></span></p>
            <p><i class="demo-icon icon-facebook-squared"></i> <span class="i-name">icon-facebook-squared</span><span class="i-code"></span></p>
        </div>
      </div>


      
      <script type="text/javascript" src="{{ url_for('static', filename='js/slide_bar.js') }}"></script>
</body>
</html>
