<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title >Kokosz Cloth Shop Cloth</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontello.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/checkout.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/upper_bottom_black.css') }}"/>
    </head>

    <body>
        <div class="upper-black"></div>
          
        <div class="name">
            {% include 'menu.html' %}
        </div>

        <div class="bottom-black"></div>
    </body>

</html>
