<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title >Kokosz Cloth Shop Cloth</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/cloth.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontello.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product_added_message.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/upper_bottom_black.css') }}"/>
       
    </head>
    <body>
        <div class="upper-black "></div>
          
        <div class="name">
            {% include 'menu.html' %}
        </div>
        <div class="bottom-black "></div>

        <div class = "content">
            
            <div class="filter">
                <form action="#" method="post">

                    <h3>Filter by:</h3>
                    <div class="checkboxes">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="male" value="male" id="maleCheckbox">
                          <label class="form-check-label" for="maleCheckbox">
                            Man
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="female" value="female" id="femaleCheckbox">
                          <label class="form-check-label" for="femaleCheckbox">
                            Woman
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="t-shirt" value="t-shirt" id="tshirtCheckbox">
                          <label class="form-check-label" for="tshirtCheckbox">
                            T-shirt
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="jeans" value="jeans" id="jeansCheckbox">
                          <label class="form-check-label" for="jeansCheckbox">
                            Jeans
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="shirt" value="shirt" id="shirtCheckbox">
                          <label class="form-check-label" for="shirtCheckbox">
                            Shirt
                          </label>
                        </div>
                      </div>
                      
                      <div class="inputs">
                        <label for="minValueInput">Min value:</label>
                        <input class="form-control" type="number" name="minvalue" value="0" id="minValueInput">
                        <label for="maxValueInput">Max value:</label>
                        <input class="form-control" type="number" name="maxvalue" value="0" id="maxValueInput">
                      </div>
                      
                    <input type="submit" name="filter_button" value="Filter"class="filter-button"></input>
                    
                </form>

            </div>
              

            <div class="product-grid" id="product-grid">
                {% for product in products %}
                    {% include 'product_template.html' %}
                {% endfor %}
            </div>
              



        </div>

        {% include 'product_added_message.html' %}

    
    </body>

    <script type="text/javascript" src="{{ url_for('static', filename='js/refresh_product.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/only_numbers.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/add_to_basket.js') }}"></script>
      


</html>