<!DOCTYPE html>
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <head>
        <title >Kokosz Cloth Shop Cloth</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product_detail.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontello.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product_added_message.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reviews.css') }}"/>

       
    </head>

    <body>
        <div class="main-box"></div>
        {% include 'menu.html' %}

        <div class="container">

          <div class="product-information">

            <div class="product-image" id="img-container">
              <div class="img-zoom-container">
                <img id="product-image-id" src="{{ url_for('static', filename='images/' + product.image) }}" alt="{{ product.name }}">
                <div id="myresult" class="img-zoom-result"></div>
              </div>

              {% if "user" in session %}
                <div class="rating" data-product-id="{{ product.id }}">
                  <input type="radio" name="rating" id="star5" value="5" {% if initial_rating == 5 %}checked{% endif %}>
                  <label for="star5"></label>
                  <input type="radio" name="rating" id="star4" value="4" {% if initial_rating == 4 %}checked{% endif %}>
                  <label for="star4"></label>
                  <input type="radio" name="rating" id="star3" value="3" {% if initial_rating == 3 %}checked{% endif %}>
                  <label for="star3"></label>
                  <input type="radio" name="rating" id="star2" value="2" {% if initial_rating == 2 %}checked{% endif %}>
                  <label for="star2"></label>
                  <input type="radio" name="rating" id="star1" value="1" {% if initial_rating == 1 %}checked{% endif %}>
                  <label for="star1"></label>
                  <button id="reset-btn">Reset Rating</button>
                </div>
              {% endif %}

            </div>

            <div class="product-details">
              <h1 class="product-name">{{ product.name }}</h1>
              <div class="price-icon">
                <p class="product-price">{{ "{:.2f}".format(product.cost) }} $</p>
                <a href="#" class="add-to-basket" data-product_id="{{ product.id }}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                    <path d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z"/>
                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                  </svg>
                </a>
              </div>
              <p class="product-description">{{ product.description }}</p>
            </div>
          </div>

          {% if "user" in session %}
            <div id="reviewForm">
              <textarea id="reviewText" placeholder="Write something, max 1000 characters..."></textarea>
              <button id="reviewButton" onclick="submitReview()" data-product-id="{{ product.id }}">Post Review</button>
            </div>
            <div id="errorContainer"></div>
          {% endif %}
          
          {% include 'reviews.html' %}
        
        
          
        </div>
        {% include 'product_added_message.html' %}
        
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/add_to_basket.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/zoom_in.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/rating.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/review.js') }}"></script>
    <script>
      // Initiate zoom effect:
      imageZoom("product-image-id", "myresult");
    </script>
      
</html>